<!DOCTYPE html>
{% load static %}
<html>
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'style.css' %}" type="text/CSS">
            <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Spartan&display=swap" rel="stylesheet">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <title>How are you?</title>
    </head>
<body onload="typeWriter()">
    <h1>Hello,</h1>
    <h1 id=mood></h1>
        <form method="post" action="/">
            {% csrf_token %}
            <div style="margin-left: 10px; margin-right: 10px;">
            <div class="form-row">
                <div class="col-sm-1"></div>
                <div class="form-group col-sm-10">
                    {% for fields in form %}
                        <br>
                        {{ fields }}
                    {% endfor %}
                </div>
            </div>
            <div class="form-row">
                <input id="submitBtn" type="submit" class="btn btn-primary" value="add">
            </div>
        </form>
    </div>
    <br><br>
    <div class="moodBoard">
    <h1>Status Board</h1>
    <br>
    {% for stats in stats %}
        <div class="box">
        <p style="text-align: left;">"{{ stats.status }}"</p>
        <p style="text-align: right; font-size: 15px;">{{ stats.time }}</p>
        </div>
        <br>
    {% endfor %}
    </div>
    <br><br>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
    var i = 0;
    var txt = 'how are you feeling today?';
    var speed = 90;
    function typeWriter() {
    if (i < txt.length) {
        document.getElementById("mood").innerHTML += txt.charAt(i);
        i++;
        setTimeout(typeWriter, speed);
        }
    }
    </script>
</body>

</html>
