body {
    background-image: linear-gradient(90deg, #c7f0db, #8bbabb);
    margin-top: 50px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}

h1 {
    font-family: Playfair Display;
    text-align: center;
    font-size: 50px;
}

#submitBtn {
    display: block;
    color: black;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    min-height: 50px;
    min-width: 100px;
    background-color: #FEF7E5;
    border: none;
    font-family: Playfair Display;
}

#submitBtn:hover {
    box-shadow: 1px 1px 20px #6c7b95;
  }

.box {
  background-color: #FEF7E5;
  border-radius: 10px;
  max-width: 500px;
  height: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  color: black;
  vertical-align: middle;
  font-size: 25px;
  overflow: auto;
  font-family: Spartan;
}

.moodBoard {
    background-color: white;
    width: 80%;
    height: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    vertical-align: middle;
    font-size: 25px;
    overflow: auto;
    font-family: Spartan;
  }